---
import MainLayout from "@/layouts/MainLayout.astro"

const x= "What is the difference between a"
---
<MainLayout title="account confirm success">
    <div
        class='flex flex-col justify-center items-start max-w-2xl mx-auto mb-16'
    >
    <div>
        <h2>{x} <code>const</code> and a
            <code>let</code> variable in JavaScript?</h2>
            <p>A <code>const</code> variable is a constant, meaning its value cannot
                be changed once it is declared. A <code>let</code> variable, on the
                other hand, is a variable that can be reassigned a new value.</p>
            </div>
        </div>
    </div>
</AuthLayout>